*, *:before, *:after
    box-sizing: border-box

html
    font-size: 14px
    scroll-behavior: smooth
body
    font-family: 'Open Sans', sans-serif
    font-size: 1rem
    background: url('../img/body.bg.png') center no-repeat
    background-size: cover
    min-height: 100vh
img
    max-width: 100%
// Данная настройка позволяеет держать картинку в узде и картинка не будет вываливаться за пределы нашего родительского для картинки блока