*, *:before, *:after
    box-sizing: border-box

html
    font-size: 14px
    scroll-behavior: smooth
body
    font-family: 'Open Sans', sans-serif
    font-size: 1rem
    background: url('../img/body.bg.png') center no-repeat
    background-size: cover
    min-height: 100vh
    background-attachment: fixed
p
    margin: 0
img
    max-width: 100%
// Данная настройка позволяеет держать картинку в узде и картинка не будет вываливаться за пределы нашего родительского для картинки блока
.button
    background-color: $orange
    text-transform: uppercase
    color: $light
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1)
    border: 2px solid rgba(0, 0, 0, 0.12)
    border-radius: 7px
    &:hover
        cursor: pointer